body {
  background: blanchedalmond;
}



@media(max-width: 650px)
{
  .a {
      grid-area: a;
      background-color: black;
      border: 5px solid blue;
    }
  
    .b {
      grid-area: b;
      background-color: black;
      border: 5px solid blue;
    }
  
    .c {
      grid-area: c;
      background-color: black;
      border: 5px solid blue;
    }

    .container {
      display: grid;
      grid-template-columns: auto;
      column-gap: 10px;
      row-gap: 10px;
      grid-auto-columns: auto;
      grid-auto-rows: 18.5vh;
      grid-template-areas:
        "a a a"
        "b b b"
        "b b b"
        "b b b"
        "c c c";
      }
}

@media(min-width: 651px) {

  .container {
      display: grid;
      grid-template-columns: auto;
      column-gap: 10px;
      row-gap: 10px;
      grid-auto-columns: auto;
      grid-auto-rows: 31.5vh;
      grid-template-areas:
        "a a a a"
        "b b b c"
        "b b b c";
  }

  .a {
    grid-area: a;
    background-color: black;
    border: 5px solid blue;

  }

  .b {
    grid-area: b;
    background-color: black;
    border: 5px solid blue;
    
    
  }

  .c {
    grid-area: c;
    background-color: black;
    border: 5px solid blue;
    
  }
}
